body{
	background: #eee;
	font-family: 微软雅黑;
}
.form-login{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login button{
	margin-top: 10px;
}
.form-login input{
	margin-top: 10px;
}